.related_column {
	float:left;
}
.page-bottom .description {
	float:left;
}

.product-info-wrap {
  position: relative;
  width: 44%;
  float: right;

  @media screen and (max-width: 1035px) {
    width: 100%!important;
  }
}

.product-info-wrapper {
	width: 56%;
    float: left;
}

.product-info-main {
  margin-right: 0!important;
  width: 100%!important;
}

.fullDescription {
  text-transform: none;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
}
.accessories_div {
  min-height:40px;
  clear:both;
  ul
  {
    padding-left:0;
    .thumb img
    {
      max-height: 80px;
    }
  }

}
