a.action.primary,
button {
    border-radius: 3px;
}
button {
    &:active {
        box-shadow: $button__shadow;
    }
}
a.action.primary {
    @include lib-link-as-button();
}
.action.primary {
    @include lib-button-primary();
}

.btn {
	@include button;
  @include font-size(14);
  @include btn-shape(-20deg);
  span {
  	@include btn-shape(20deg);
  	float: left;
  	transition: none;
    font-weight: normal;
  } 
  &.btn-primary {
  	background-color: $primary;
  	border: 1px solid $primary;
  	 &:hover {
	  	background: $black;
	  	color: $white;
	  	border: 1px solid $black;
	  }
  }
}
