a.action.primary,
button {
    border-radius: 3px;
}
button {
    &:active {
        box-shadow: $button__shadow;
    }
}
a.action.primary {
    @include lib-link-as-button();
}
.action.primary {
    @include lib-button-primary();
}

.btn {
	@include button;
  @include font-size(14);
  @include btn-shape(-20deg);
  span {
  	@include btn-shape(20deg);
  	float: left;
  	transition: none;
    font-weight: normal;
  } 
  &.btn-primary {
  	background-color: $primary;
  	border: 1px solid $primary;
  	 &:hover {
	  	background: $black;
	  	color: $white;
	  	border: 1px solid $black;
      text-decoration: none;
	  }
  }
  &.btn-secondary {
    transform: none !important;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 6px;
    @include button2;
    span {
      transform: none !important;
    }
    &:hover {
      background: $black;
      color: $white;
      border: 1px solid $black;
      text-decoration: none;
    }
  }
}
.btn-pdf {
  border-radius: 4px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-transform: uppercase;
  background-color: $lgrey;
  float: left;
  color: $dgrey;
  padding-left: 48px;
  padding-right: 48px;
  width: 48%;
  &:hover {
    text-decoration: none;
    color: $primary;
  }
  span {
    background: url('#{$imagePath}/pdf-icon.png') no-repeat 0 0;
    width: 19px;
    height: 19px;
    float: left;
    margin-top: -1px;
    margin-right: 6px;
  }
}
.btn-spares {
  background-color: $white;
  border: 1px solid #000;
  border-radius: 4px;
  float: right;
  text-transform: uppercase;
  width: 48%;
  padding-top: 9px;
  padding-bottom: 8px;
  span {
    background: url('#{$imagePath}/spares-icon.png') no-repeat 0 0;
    width: 13px;
    height: 10px;
    display: inline-block;
    margin-top: 3px;
    margin-right: 6px;
  }
  &:hover {
    background-color: inherit;
    border: 1px solid #000;
  }
}
