// Global Styling

div, a, .minisearch label:before {
	transition: 0.3s all ease-in-out;	
}
* {
	box-sizing: border-box;
}
body {
	color: $fontDark;
	@include font-size(14);
	font-family: $font;
}
a {
	color: $primary;
}
.redBg {
	background: $primary;
	&:hover {
		background: transparent;
	}
}
.greyBg {
	background: $secondary;
	&:hover {
		background: transparent;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-family: $hfont;
	text-transform: uppercase;
	letter-spacing: 1px;
}

// Logical statements

// Top panel

.panel.wrapper {
	border-bottom: 0;
	background-color: $black;
}

// Breadcrumbs 

.breadcrumbs {
  margin: 24px auto 24px;
  max-width: 1860px;
  width: 96% !important;
}

// Header 
.page-header .panel.header {
	width: 100% !important;
	max-width: 100% !important;
}
.header.content {
	padding: 24px 0 !important;
	.logo {
		margin-top: 5px;
	}
}
.nav-sections, .navigation {
	background: transparent;
	float: left;
	margin-bottom: 0;
}
.navigation {
	float: left;
		ul {
			padding: 0;
			float: left;
			margin-left: 12px;
			margin-top: 5px;
		}
		.level0 {
			  margin: 0 24px 0 0;

		}
		.level0 > .level-top {
			@include font-size(16);
	    display: block;
	    padding-top: 4px;
	    padding-bottom: 4px;	     
	    &:hover {
	    	color: $primary;
	    }
		}
}
.fa-shopping-cart {
	&:before {
		font-size: 28px;
		color: #8f8f8f;
		transition: 0.3s color ease-in-out;
	}
	&:hover {
		text-decoration: none;
		&:before {
			color: $primary;
		}
	}
}
.block-search .control {
	padding-bottom: 0 !important;
	input[type="text"] {
		border: 1px solid #c2c2c2;
		border-radius: 6px;
	}
}
.minicart-wrapper {
	margin-left: 24px !important;
	margin-top: 0 !important;
}
.header-top-links {
	float: right;
	ul {
		padding: 0;
		margin:0;
	}
	li {
		float: left;
		margin: 0;
	}
	a {
		color: $white;
		text-transform: uppercase;
		padding-left: 32px;
		padding-right: 32px;
		@include font-size(12);
		padding-top: 16px;
		padding-bottom: 16px;
    float: left;
    &:hover {
    	text-decoration: none;
    	&:not(.redBg):not(.greyBg) {
	    	background: $primary;
	    }
    }
	}
}
.block-search .nested {
	display: none !important;
}
.block-search .label:hover:before {
	color: $primary !important;
}
.nav-toggle {
  top: 27px;
}

// Footer styling 

.page-footer {
	float: left;
	width: 100%;
	background-color: $black;
}
.footer.content {	
	@include font-size(14);
	padding-top: 56px !important;
	padding-bottom: 56px !important;
	margin-top: 0 !important;
	border-top: 0 !important;
}
.footer-left {
	width: 50%;
	display: inline-block;
	p {
		color: $fontLight;
		margin: 0;
	}
}
.footer {
	li {
		float: left;
		&:before {
			content: "|";
	    float: left;
	    color: $fontLight;
	    margin-left: 8px;
	    margin-right: 8px;
		}
		&:first-child:before {
			content: none;
		}
		a {
			text-transform: uppercase;			
		}
	} 
	a {
		color: $fontLight;
		&:hover {
			color: $primary;
			text-decoration: none;
		}
	}	
}

.footer-right {
	display: inline-block;
	width: 50%;
  text-align: right;
  vertical-align: bottom;
  img {
  	margin-top: 24px;
  }
  ul {
  	float: right;
  }
  a {  	
  	span {
  		color: $primary;
	  	&:hover {
	  		color: $white;
	  	}
  	}
  }
}
.footer-logo {
	width: 100%;
	float: right;
}
.footerNav {
	width: 100%;
}
.social-icons {
	margin-bottom: 24px;
	i {
		color: #fff;
		font-size: 21px;
		margin-left: 24px;
	}
}

// Main Banner 

.main-banner {
	background-image: url("#{$imagePath}/main-banner.jpg");
  float: left;
  width: 100%;
  background-size: cover;
  background-position: center top;
}
.banner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1860px;
    width: 88%;
}
.banner-block {
	float: right;
	color: $white;
  text-align: right;
  margin-top: 7%;
  margin-bottom: 27%;
  h2 {
  	@include font-size(48);
  	margin: 0;
  }
  p {
  	@include font-size(14);
  	margin-top: 24px;
  	margin-bottom: 24px;
  	margin-top: 0;
  	margin-bottom: 0;
  	&:first-of-type {
  		margin-top: 24px;
  	}
  }
  .btn {
  	float: right;
  	margin-top: 24px;
  }
}

// Home features

.cms-home .page-main {
	width: 100%;
	.column.main {
		padding-bottom: 0;
	}
}
.home-feature-box {
  @include diagonal-gradient (#c2c5c8, #878a8d);
	height: 100%;
	float: left;
	width: 50%;
	padding: 72px;
	position: relative;
	overflow: hidden;
	h2 {
		padding-right: 24px;
		@include font-size(48);
		float: left;
		margin-top: 0;
		margin-bottom: 24px;
	}
	p {
		width: 50%;
		margin-top: 24px;
    float: left;
	}
	img {
		position: absolute;
    right: -121px;
    bottom: -5%;
	   width: 59%;
	   &.spares-box-img {
	   	right: 0;
	   }
	   max-width: 500px;
	}
	.btn {
		float: right;
		margin-bottom: 24px;
	}
	form {
		position: relative;
		float: right;
	}
	input[type="text"] {
		width: 284px;
		border: 1px solid #959595;
		border-radius: 4px;
		float: right;
	}
	button[type="submit"] {
    border: 0;
    background: none;
    position: absolute;
    right: 0;
	}
}
.feature-box-top {
	float: left;
	width: 100%;
}

// Blog pages

.blog__post-meta-author {
	display: none;
}

.blog__post-meta {
  .fa-calendar {
  	width: 0;
  	&:before {
	  	content: none;	  	
	  }
	}
}


// Custom Responsive 

.page-layout-2columns-right {

	.column.main {
		width: 80%;
	}
	.sidebar-additional {
		width: 20%;
	}
	&.cms-home {
		.columns {
			// display: table;

			> div {
		    display: table-cell;
			  vertical-align: top;
			  float: none;
			  height: 100%;
			}
		}
		.sidebar-additional {
			padding-left: 0;
		}
	}
}
.blog__sidebar-recent {
	margin-bottom: 0;
	.item {
		position: relative;
		width: 100%;
		float: left;
		&:hover .home-news-head {
			color: $primary;
	  	text-decoration: none;
	  	.btn {
	  		@extend .btn-primary:hover;	  		
	  	}
		}
		.btn {
			margin-top: 12px;
		}
		span {
			float: right;
		}
	}
	.blog__post-featured-image {
    background-size: cover;
    float: left;
    width: 100%;
    height: 250px;
    background-position: center center;
	}
	.home-news-head {
		position: absolute;
		bottom: 0;
		background: rgba(0,0,0,0.75);
		padding: 24px;
		text-align: right;
	  width: 100%;
	  left: 0;
	  color: $white;
	  @include font-size (20);
	}
}

@media all and(max-width: $xlarge){
	.navigation .level0 {
		margin: 0;
		a.level-top {
			@include font-size(14);
		}
	}
}
@media all and(max-width: $large) and(min-width: $medium){
	.nav-sections, .navigation {
		width: 100%;
	}
}
@media all and(max-width: $large){
	.block-search {
		width: auto !important;
		.block-content {
	    position: relative;
	    width: 150px;
	    float: right;
		}
	}
	.nav-sections, .navigation {
		ul {
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}
	.navigation {
		width: 100%;
		text-align: center;
		.level0 {
      margin: 24px 12px 0 12px;
		}
	}
	.block-search .block-content {
		width: 250px;
	}
}
@media all and(max-width: 1100px){
	.blog__sidebar-recent .item .btn {
		padding-left: 24px;
		padding-right: 24px;
	}
}
@media all and(max-width: $medium){
	.nav-open .nav-sections, .nav-sections, .navigation {
		background: #f0f0f0;
	}
	.page-header .panel.header {
		padding: 0;
	}
	.panel.wrapper {
    float: left;
    width: 100%;
	}
	.navigation {
		width: 100%;
		text-align: center;
		.level0 {
      margin: 0 12px 0 12px;
	    padding-top: 12px;
	    padding-bottom: 12px;
		}
		.level1 {
			padding-top: 12px;
	    padding-bottom: 12px;
		}
	}
	.header.content {
    float: left; 
    width: 96%;
	}
	.header.content .logo {
    margin-top: 5px;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
   img {
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	  }
	}
	.block-search .control {
		border-top: 0 !important;
	}
	.block-search {
		margin-right: 32px;
	}
	.block-search input {
    left: -400% !important;
	}
	.block-search .block-content {
	    margin-bottom: 0;
	    margin-top: -40px;
	}
	.minicart-wrapper {
    margin-top: -40px !important;
	}
}
@media all and(max-width: $medium){
	.footer-left, .footer-right {
		width: 100%;
		text-align: center;
		ul {
			margin-left: auto !important;
	    margin-right: auto !important;
	    display: block;
	    float: none;
		}
		li {
	    float: none;
    	display: inline;
    	&:before {
		    content: "|";
		    float: none; 
		    color: #ffffff;
		    margin-left: 8px;
		    margin-right: 8px;
    	}
		}
	}
	.social-icons {
    margin-top: 24px;
    i {
	    margin-left: 12px;
	    margin-right: 12px;
	  }
	}
	.page-layout-2columns-right {
		&.cms-home .columns > div {
			width: 100%;
			float: left;
			display: block;
		}
	}	
	.home-feature-box {
		width: 100%;
		height: auto;
		img {
			display: none;
		}
		p {
			width: 100%;
		}
	}
	.blog__sidebar-recent .item {
		width: 50%;
		float: left;
		span {
	    float: left;
	    width: 100%;
		}
		.btn {
	    float: right;
	    width: auto;
		}
	}
}
@media all and(max-width: $medium){
	.cms-home .page-main {
	    width: 100%;
	    float: left;
	    padding: 0;
	}
}
@media all and(max-width: $small){
	.home-feature-box {
    padding: 48px 48px 24px 48px;
    p {
    	margin-bottom: 24px;
    }
	}
}
@media all and(max-width: $xsmall){
	.home-feature-box form{
		width: 100%;
		input[type="text"] {
			width: 100%;
		}
	}
	.footer-left li, .footer-right li {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 12px !important;
    padding-top: 12px;	
    &:first-child {
    	margin-top: 0;
    	padding-top: 0;
    }
  	&:before {	
      	content: none;
    }
	}
	.blog__sidebar-recent .item {
    width: 100%;
	}
}
