// Custom Mixins


@mixin font-size($size) {
  font-size: $size * 1px;
  font-size: $size * 0.1rem;
}

@mixin btn-shape ($deg) {
	transform: skew($deg);
	-webkit-transform: skew($deg);
  -moz-transform: skew($deg);
  -o-transform: skew($deg);
}

@mixin diagonal-gradient ($colorStart, $colorEnd) {
	background: $colorStart;
	background: -moz-linear-gradient(-45deg, $colorStart 0%, $colorStart 7%, $colorEnd 99%, $colorEnd 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, $colorStart), color-stop(7%, $colorStart), color-stop(99%, $colorEnd), color-stop(100%, $colorEnd));
	background: -webkit-linear-gradient(-45deg, $colorStart 0%, $colorStart 7%, $colorEnd 99%, $colorEnd 100%);
	background: -o-linear-gradient(-45deg, $colorStart 0%, $colorStart 7%, $colorEnd 99%, $colorEnd 100%);
	background: -ms-linear-gradient(-45deg, $colorStart 0%, $colorStart 7%, $colorEnd 99%, $colorEnd 100%);
	background: linear-gradient(135deg, $colorStart 0%, $colorStart 7%, $colorEnd 99%, $colorEnd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#$colorStart', endColorstr='#$colorEnd', GradientType=1 );
}

@mixin button {
	color: $white;
	text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 48px;
  padding-right: 48px;
  line-height: normal;  
  float: left;
  cursor: pointer;
  margin-right: 6px;
  transition: 0.3s all ease-in-out;
  border-radius: 0;
}

