<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Continental_General::first_level_demo"
             title="Continental Sports"
             module="Continental_General"
             sortOrder="20"
             resource="Magento_Backend::content" />

	<add id="Continental_General::second_level_demo"
             title="Knowledge Base"
             module="Inchoo_MenuItem"
             sortOrder="0"
             action="menuitem/index/index"
             parent="Continental_General::first_level_demo"
             resource="Magento_Backend::content" />
    </menu>
</config>
