// Product page

.catalog-product-view .column.main {
	position: relative;
}
.stock.available {
  width: auto;
  float: left;
	span {
		display: none;
	}
}
.product-info-main h1 {
	margin: 0 !important;
}
.product.attribute {
	.value[itemprop="description"] p{
		@include font-size(18);
	}
	&.sku .value {
		@include font-size(16);
		font-style: italic;
		color: $fontDark;
		float: left;
	}
}
.product-info-main {
    box-shadow: 0px 20px 72px 13px rgba(0,0,0,0.04);
    padding: 48px;
    position: absolute;
    z-index: 1;
    right: 0;
    background: #fff;
	.price-final_price .price-container .price-wrapper .price {
		@include font-size(30);
		color: $primary;
		letter-spacing: 1px;
		font-weight: 300;
	}
	.box-tocart  {
		label[for="qty"] {
	    display: none !important;
		}
		.control {
			@include btn-shape(-20deg);
			background: $black;
			padding-top: 8px;
			padding-bottom: 8px;
			float: left !important;			
			input.input-text.qty {
				color: $white;
				@include btn-shape(20deg);
				background: none;
				border: 0;
				height: auto !important;
				float: left;
				line-height: normal;
			}
		}
	}
	.box-tocart {
		margin-bottom: 0 !important;
		.control {
			margin-left: 6px;
		}
	}
}
.product.media {
	.fotorama__stage__frame .fotorama__img {
    position: absolute;
    top: 29%;
    left: 61%;
	}
}
.product.data.items > .item.content {
	border: 0;
	padding: 0;
}
.product.data.items > .item.title > .switch {
	padding: 0;
	border: 0;
	@include font-size(30);
	height: auto;
	line-height: normal;
}
.product-options-wrapper {
	margin-bottom: 24px;
	.fieldset div.configurable {
		margin-bottom: 12px;
		label {
			float: left !important;
	    margin-right: 12px !important;
	    margin-bottom: 0 !important;
	    margin-top: 10px !important;
	    width: 25% !important;
		}
		.control {
	    float: left !important;
  		width: 50% !important;
		}
	}
}
.product.detailed {
	.title a {
		cursor: default;
	}
}


