// Custom Responsive 

@media all and(max-width: 1700px){
	.navigation .level0 {
		a.level-top {
			@include font-size(14);
		}
	}
}

@media all and(max-width: $xlarge){
	.navigation .level0 {
		margin: 0;
		a.level-top {
			@include font-size(13);
		}
	}
}
@media all and(max-width: $large) and(min-width: $medium){
	.nav-sections, .navigation {
		width: 100%;
	}
}
@media all and(max-width: $large){
	.block-search {
		width: auto !important;
		.block-content {
	    position: relative;
	    width: 150px;
	    float: right;
		}
	}
	.nav-sections, .navigation {
		ul {
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}
	.navigation {
		width: 100%;
		text-align: center;
		.level0 {
      margin: 24px 12px 0 12px;
		}
	}
	.block-search .block-content {
		width: 250px;
	}
}
@media all and(max-width: 1150px){
	.blog__sidebar-recent .item .btn {
		padding-left: 24px;
		padding-right: 24px;
	}
}
@media all and(max-width: $medium){
	h1 {
		margin-bottom: 24px;
	}
	.nav-open .nav-sections, .nav-sections, .navigation {
		background: #fff;
	}
	.page-header .panel.header {
		padding: 0;
	}
	.panel.wrapper {
    display: inline-block;
    width: 100%;
	}
	.nav-sections-item-title {
		display: none;
	}
	.nav-sections-item-content {
    margin-top: 0 !important;
    padding-top: 0px !important;
	}
	.navigation {
		width: 100%;
		text-align: center;
		.level0 {
			margin: 0 12px 0 12px;
	    padding-top: 12px;
	    padding-bottom: 12px;
	    &.active .all-category .ui-state-focus {
	    	border: 0 !important;
	    	color: $primary;
	    }
	    &.active > a:not(.ui-state-active) {
	    	border: 0 !important;
	    	color: $primary;
	    }
	    &:first-child {
	    	border-top: 0 !important;
	    }
	    a {
	    	font-weight: 400 !important;
	   	 	padding: 16px 32px 16px 32px !important;
	   	 	@include font-size(13);
	   	 	text-transform: uppercase;
	    }
		}
		.submenu {
			margin-top: 0 !important;
			border-top: 1px solid #d1d1d1;
			padding-bottom: 12px!important;
    	float: none!important;
	    margin-left: 0!important;
	    margin-right: 0!important;
	    position: static!important;
		}
		.level1 {
	    padding-top: 0;
	    padding-bottom: 0;
	    margin-top: 0 !important;
	    padding-left: 0 !important;
      &:first-child {
      	border-top: 0;
      }
	    a {
 			 font-weight: 400 !important;
	   	 padding: 8px 32px 8px 32px !important;
	    	@include font-size(13);
	    	text-transform: uppercase;
	    }
		}
	}
	.header.content {
    margin-left: auto; 
    margin-right: auto; 
    width: 96%;
	}
	.header.content .logo {
    margin-top: 5px;
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
   img {
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	  }
	}
	.block-search .control {
		border-top: 0 !important;
	}
	.block-search {
		margin-right: 32px;
	}
	.block-search input {
    left: -400% !important;
	}
	.block-search .block-content {
	    margin-bottom: 0;
	    margin-top: -40px;
	}
	.minicart-wrapper {
    margin-top: -40px !important;
	}
	.footer-left, .footer-right {
		width: 100%;
		text-align: center;
		ul {
			margin-left: auto !important;
	    margin-right: auto !important;
	    display: block;
	    float: none;
		}
		li {
	    float: none;
    	display: inline;
    	&:before {
		    content: "|";
		    float: none; 
		    color: #ffffff;
		    margin-left: 8px;
		    margin-right: 8px;
    	}
		}
	}
	.social-icons {
    margin-top: 24px;
    i {
	    margin-left: 12px;
	    margin-right: 12px;
	  }
	}
	.page-layout-2columns-right {
		&.cms-home .columns > div {
			width: 100%;
			float: left;
			display: block;
		}
	}	
	.home-feature-box {
		width: 100%;
		height: auto;
		img {
			display: none;
		}
		p {
			width: 100%;
		}
	}
	.blog__sidebar-recent .item {
		width: 50%;
		float: left;
		span {
	    float: left;
	    width: 100%;
		}
		.btn {
	    float: right;
	    width: auto;
		}
	}
	.cms-home .page-main {
	    width: 100%;
	    float: left;
	    padding: 0;
	}
	.blog.page-layout-2columns-left {
		.columns .sidebar-additional {
			order: 1;
		}
		.columns .column.main {
	    order: 2;
		}
	}
	.form.direct {
		.field {
			width: 100%;
			float: left;
			label {
			    padding: 6px 15px 0 0;
			    text-align: right;
			    width: 20%;
			    box-sizing: border-box;
			    float: left;
			}
			input, select, textarea {
				width: 75%;
			}
		}
	}
	.block-collapsible-nav-title, #block-collapsible-nav-blog ul{
    visibility: hidden;
    height: 0;
	}
	select.blog-cat-sel {
		display: block !important;
	}
	
}

@media all and(max-width: 900px){
	.header-top-links {
		text-align: center;
		li {
			margin: 0 12px 0 12px;
 		 	padding-top: 12px;
    	padding-bottom: 12px;
	    border-top: 1px solid #d1d1d1;
    	font-size: 16px;
    	width: 97%;
    	text-align: center;
    	&:first-child {
    		border-top: 0;
    	}
			a {
				width: 100%;
		    color: #575757;
		    @include font-size(13);
		    &:hover {
		    	color: $primary;
		    	&:not(.redBg):not(.greyBg) {
			    	background: transparent;
			    }
		  	}
			}
    	a.redBg {
    		background: transparent;
    	}
		}
	}
	.panel.wrapper {
		display: none;
	}
}

@media all and(max-width: $small) 
{
	.home-feature-box {
    padding: 48px 48px 24px 48px;
    p {
    	margin-bottom: 24px;
    }
	}
	.category-bg {
		    background-position: left top;
	}
	.category-nav ul {
    width: 100%;
    border-right: 0;
    text-align: center;
    padding-left: 0;
  	padding-right: 0;
    h1 {
    	@include font-size(32);
    }
    a {
    	float: none;
    	display: inline-block;    	
    	@include font-size(18);
    	&:hover {
    		float: none;
    		display: inline-block;
    	}
    }
	}
	.news-cat-left {
		width: 100%;
		img {
  	    max-height: none;
    }
	}
	.news-cat-right {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    padding: 24px;
    text-align: right;
    width: 100%;
    left: 0;
    color: #ffffff;
    @include font-size(20);
    
    .blog__post-excerpt {
    	display: none;
    }
    .btn {
    	position: static;
    }
    h2 {
    	@include font-size(18)
    	height: auto;
	    a {
	    	color: $white;
	    }
	  }
	}
}
@media all and(max-width: $xsmall){
	.home-feature-box form{
		width: 100%;
		input[type="text"] {
			width: 100%;
		}
	}
	.footer-left li, .footer-right li {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 12px !important;
    padding-top: 12px;	
    &:first-child {
    	margin-top: 0;
    	padding-top: 0;
    }
  	&:before {	
      	content: none;
    }
	}
	.blog__sidebar-recent .item {
    width: 100%;
	}
	.form.direct { 
		.field {
			label {
				width: 100%;
				text-align: center;
				padding-right: 0;
				margin-bottom: 12px;
			}
			input, select, textarea {
				width: 100%;
			}
		}
	}
	#payment-form {    
		label {
			width: 100%;
			text-align: center;
		}
		#cvv, #expirationDate {
			width: auto;
		}
	}
}
