<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Continental\HomeBanners\Model\ResourceModel\Index\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">continental_homebanners</argument>
            <argument name="resourceModel" xsi:type="string">Continental\HomeBanners\Model\ResourceModel\Index</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="homebanners_index_grid_data_source" xsi:type="string">Continental\HomeBanners\Model\ResourceModel\Index\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
