<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="continental" translate="label" sortOrder="10">
            <label>Continental</label>
        </tab>
        <section id="continental-attributes" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Continental Shipping rates</label>
            <tab>continental</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="attributes_configurations" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Shipping Rates configuration</label>
                <field id="attribute_set_top" translate="label" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Rates</label>
                    <frontend_model>Continental\General\Block\System\Config\Form\Field\Attributes</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>