// Blog pages

.blog__post-meta-author {
	display: none;
}

.blog__post-meta {
  .fa-calendar {
  	width: 0;
  	&:before {
	  	content: none;	  	
	  }
	}
}
.news-cat-left {
	width: 40%;
	float: left;
	img {
		width: 100%;
		max-height: 200px;
		float: left;
	}
}
.news-cat-right {
	width: 60%;
	float: right;
	padding-left: 2%;
	h2 {
		margin-top: 0;
		@include font-size(24);
		a {
			color: $black;
			&:hover {
				color: $primary;
				text-decoration: none;
			}
		}	
	}
	.btn {
		float: right;
		margin-top: 8px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
.blog__post-meta {
	color: $primary;
}
.blog__post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.blog__post-item {
	width: 100%;
	float: left;
	margin-top: 24px;
	margin-bottom: 0;
	position: relative;
	&:first-child {
		margin-top: 0;
	}
}
.field.limiter {
	margin-right: 12px;
	.control {
		display: inline-block;
	}
}
.blog-post-list__toolbar {
	width: 100%;
	float: right;
	margin-top: 24px;
}
.blog__post-view {
	width:75%;
	img[style="float: right;"] {
		margin-top: 12px;
		margin-left: 12px;
		margin-bottom: 12px;
	}
	img[style="float: left;"] {
		margin-top: 12px;
		margin-right: 12px;
		margin-bottom: 12px;
	}
}
.blog__sidebar-category-tree {
	float: left;
}
.blog__sidebar-main {
	.block .title {
		background-color: $black;
    padding: 12px;
    width: 100%;
    margin: 0;
    float: left;
    border-radius: 4px 4px 0 0;
    strong {
	    font-size: 16px !important;
	    color: #fff !important;
	    margin: 0;
	    padding: 0;
	    line-height: normal;
	    text-transform: none;
	    font-weight: 400 !important;
		}
	}
	.block .content {
    background-color: #f1f1f1;
    float: left;
    width: 100%;
    ul {
  	    margin: 0;
   		 padding: 0 12px;
    }
		li {
	    border-top: 1px solid #aaa;
		  margin-top: 0;
		  padding: 0;
		  &:first-child {
		  	border-top: 0;
		  }
		  &:hover a, &.current a {
  	    padding-left: 8px;  	    
   		 	color: $primary;
   		 	padding-right: 0;
   		 	text-decoration: none;
		  }
		}
		a {
	    display: block;
	    color: $black;
	    background: transparent;
	    padding: 16px 0;
	    border-radius: 0;
	    padding-right: 8px;
	    @include font-size(14);
		}
	}
	select.blog-cat-sel {
		display: none;
	}
}
.blog-post-view {
	h1.page-title {
		margin-top: 0;
		margin-bottom: 12px;
	}
}
.blog__post-excerpt {

	.mobile, .tablet {
		display: none;
	}
}

@media all and(max-width: 1300px) {
	.blog__post-excerpt {
		.desktop-hidden {
			display: none;
		}
		.tablet {
			display: inline-block;
		}		
	}	
}
@media all and(max-width: 1146px) {
	.blog__post-excerpt {
		.tablet-hidden {
			display: none;
		}
		.mobile {
			display: inline-block;
		}
	}
}
