// Breadcrumbs 

.breadcrumbs {
  margin: 0px 24px auto 0px;
  max-width: 2500px;
  width: 100% !important;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-top: 8px;
}
