// Direct Payment form styling

.form.direct {

	.field {
		width: 50%;
		float: left;
	}
	label {
		text-align: left;
	}
	input[type="text"], textarea, input[type="email"] {
		border-radius: 4px;
	}
}
#payment-form {
	margin-top: 24px;
	padding: 24px;
    border: 1px solid #ccc;
    border-radius: 6px;
	label {
    float: left;
    width: 50%;
    margin-bottom: 12px;
    font-weight: 700;
    margin-right: 16px;
    margin-top: 7px;
	}
	#card-number {
		background: #fff;
	  background-clip: padding-box;
	  border: 1px solid #c2c2c2;
	  border-radius: 1px;
	  color: inherit;
	  font-family: "Roboto", Helvetica, Arial, sans-serif;
	  font-size: 14px;
	  font-style: inherit;
	  font-weight: inherit;
	  height: 32px;
	  line-height: 1.42857;
	  margin: 0;
	  padding: 0 9px;
	  vertical-align: baseline;
	  width: 100%;
	  float: left;
	  box-sizing: border-box;
    margin-bottom: 24px;
	}
	#expirationDate, #cvv {
		width: 27%;
		float: left;
		background: #fff;
	  background-clip: padding-box;
	  border: 1px solid #c2c2c2;
	  border-radius: 1px;
	  color: inherit;
	  font-family: "Roboto", Helvetica, Arial, sans-serif;
	  font-size: 14px;
	  font-style: inherit;
	  font-weight: inherit;
	  height: 32px;
	  line-height: 1.42857;
	  margin: 0;
	  padding: 0 9px;
	  vertical-align: baseline;
	  float: left;
	  box-sizing: border-box;
    margin-bottom: 24px;
	}
	.label-small {
    text-align: right;
    width: 20%;
	}
}