// Product Listing page

.products.wrapper ~ .toolbar .limiter {
    display: block !important;
}
.page-products .products-grid .product-items {
	display: flex;
	flex-wrap: wrap;
	.product-item {
		width: 23%;
		margin-bottom: 24px;
		margin-left: 0;
		margin-right: 2%;
		padding-left: 0;
		-webkit-box-shadow: 0px 0px 30px 5px rgba(247,247,247,1);
		-moz-box-shadow: 0px 0px 30px 5px rgba(247,247,247,1);
		box-shadow: 0px 0px 30px 5px rgba(247,247,247,1);
		position: relative;
	}
}
.products-grid {
	.product-image-wrapper {
	  padding-bottom: 100% !important;
	  width: 100%;
	  .product-image-photo {
	    margin: 0;
	    width: 100%;
	  }
	}
	.product-image-container {
	    width: 100% !important;
	}

	.product-item-info {
		width: 100% !important;

		.amasty-hide-price-container {
			margin-bottom: 30px;
		}
	}

	.product-item-details {
		padding: 24px;
		display: inline-block;
		width: 100%;
	}

	.product-item-name {
    margin: 0;
    float: left;
		a {
			color: $dgrey;
	    display: block;
	    word-break: normal;
      word-wrap: normal;
   		 hyphens: none;
			@include font-size(20);
			&:hover {
				color: $primary;
				text-decoration: none;
				span {
					color: $primary;
					transition: 0.3s color ease-in-out;
				}
			}
		}
		span {
			@include font-size(14);
			font-style: italic;
			color: $dgrey;
			width: 100%;
			float: left;
		}
	}
	.product-item-actions {
		.btn-secondary {
	    text-align: center;
	    position: absolute;
	    bottom: 24px;
	    right: 24px;
	    left: 24px;
    	span {
    		float: none;
    	}
		}
		.actions-secondary {
			display: none;
		}
	}
	.price-from {
		color: $dgrey;
		@include font-size(16);
	}
	.price {
		color: $primary;
		font-size: 20px !important;
		font-weight: 300 !important;
	}	
	.price-box {
   margin: 10px 0 42px;
    position: absolute;
    bottom: 32px;
	}
	.product-item-description {
    margin: 18px 0 118px 0px;
    float: left;
    p {
    	margin: 0;
    	@include font-size(16);
    }    
	}
	.show-configurables {
    color: $primary;
    @include font-size(16);
    position: absolute;
    bottom: 24px;
    margin-bottom: 88px;
  }
  .no-description {
    min-height: 190px;
  }
}
.products-grid .product-item-actions {
    display: block;
}
// Pagination 

.toolbar-products .pages {
	ul {
		white-space: unset;
	}
 li {
 	float: left;
 	width: auto;

		.action {
			border: 0;
			width: auto;
			&:before {
				content: none !important;
			}
			span {
				position: static;
				width: auto;
				@include font-size(14);
				color: $black;
			}
		}
		a {
			* {
				transition:  all 0.3s ease-in-out;
			}
			span {
				@include font-size(14);
				color: $black;			
			}
			&:hover span {

				color: $primary;
			}
		}
		.label {
			display: none;
		}
		&.current {
			span {
				color: $primary;
				@include font-size(14);
			}
		}
	}
}

@media only screen and (max-width: $large) {
	.page-products .products-grid .product-items {
    .product-item {
			width: 24%;
		}
	}
}
@media only screen and (max-width: $medium) {
	.column.main .product-items {
		margin-left: 0 !important;
	}
	.page-products .products-grid .product-items {
    .product-item {
			width: 32%;
		}
	}
}
@media only screen and (max-width: $small) {
	.page-products .products-grid .product-items {
    .product-item {
			width: 48%;
		}
	}
}
@media only screen and (max-width: $xsmall) {
	.page-products .products-grid .product-items {
    .product-item {
			width: 100%;
		}
	}
}



