// Main Banner 

.main-banner {
  float: left;
  width: 100%;
  background-size: cover;
  background-position: center top;
}
.banner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1860px;
    width: 88%;
}
.banner-block {
	float: right;
	color: $white;
  text-align: right;
  margin-top: 6%;
  margin-bottom: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  h2 {
  	@include font-size(48);
  	margin: 0;

    @media screen and (max-width: 500px) {
      @include font-size(24);
      word-break: break-word;
    }
  }
  p {
  	@include font-size(14);
  	margin-top: 24px;
  	margin-bottom: 24px;
  	margin-top: 0;
  	margin-bottom: 0;
  	&:first-of-type {
  		margin-top: 24px;
  	}
  }
  .btn {
  	float: right;
  	margin-top: 24px;
  }
}