// Product page

.page-bottom {
	.fullDescription {
		text-transform: none;
	}
	.product.attribute.description {
		padding:5px;
		margin-bottom:25px;
		margin-right:20px;
	}
}

.fotorama__wrap {
    margin: 0 auto;
}


.fotorama__stage {
	max-height:500px;
	.fotorama__img {
	margin-top:100px;
	}
}

.catalog-product-view .column.main {
	position: relative;
}
.stock.available {
  width: auto;
  float: left;
	span {
		display: none;
	}
}
.product-info-main h1 {
	margin: 0 !important;
}
.product.attribute {
	.value[itemprop="description"] p{
		@include font-size(12);
	}
	&.sku strong {
	display:block;
	float:left;
	}
	&.sku .value {
		@include font-size(16);
		font-style: italic;
		color: $fontDark;
		float: left;
	}
}
.product-info-main {
    box-shadow: 0px 20px 72px 13px rgba(0,0,0,0.04);
    padding: 0px 48px 10px 48px;
    position: absolute;
    z-index: 1;
    right: 0;
    background: #fff;
    > div {
    	transition: none;
    	// position: relative;
    }
	.price-final_price .price-container .price-wrapper .price {
		@include font-size(25);
		color: $primary;
		letter-spacing: 1px;
		font-weight: 300;
	}
	.box-tocart  {
		margin-bottom: 0 !important;
		display: block !important;
		label[for="qty"] {
	    display: none !important;
		}
		.fieldset {
			margin-bottom: 24px;
	    float: left;
  	  width: 100%;
			.field {
				margin-bottom: 0;
			}
		}
		.qty {
	    width: 30%;
    	float: left;
		}
		.control {
			@include btn-shape(-20deg);
			background: $black;
			padding-top: 1px;
			padding-bottom: 1px;
			float: left !important;		
			margin-left: 6px;	
			width: 100%;
			position: relative;
			input.input-text.qty {
				color: $white;
				@include btn-shape(20deg);
				background: none;
				border: 0;
				height: auto !important;
				float: left;
				line-height: normal;
		    width: 100%;
        height: 32px !important;
		    background: transparent;
		    color: #fff;
		    text-align: center;
		    padding-left: 0;
		    padding-right: 0;
		    &:focus {
		    	box-shadow: none !important;
		    }
			}
			.add, .subtract {
				background: transparent;
		    color: #fff;
		    border: 0;
		    float: left;		 
		    @include btn-shape(20deg);
		    padding: 8px;
		    position: absolute;
		    z-index: 10;
		    &:hover {
		    	background: transparent;
		    	border: 0;
		    }   
			}
			.add {
				float: right;
				right: 6px;
			}
			.subtract {
				

				left: 6px;
			}			
		}
		.actions {
	    width: 69%;
    	float: right;
		}
		#product-addtocart-button {
			width: 100%;
			span {
				width: 100%;
			}
		}
		.product-buttons {
			width: 100%;
			float: left;
		}
	}
	.price-final_price .con-price-from {
		display: none;
	}
}
.product.media {
	position: relative;
	.fotorama__stage__frame  {
		transition-duration: 0ms;

		.fotorama__img {
			position: absolute;
			top: 29%;
			left: 61%;
		}
	}
}
.product.data.items > .item.content {
	border: 0;
	padding: 0;
}
.product.data.items > .item.title > .switch {
	padding: 0;
	border: 0;
	@include font-size(30);
	height: auto;
	line-height: normal;
}
.product-options-wrapper {
	margin-bottom: 24px;
	.fieldset div.configurable {
		margin-bottom: 12px;
		label {
			float: left !important;
	    margin-right: 12px !important;
	    margin-bottom: 0 !important;
	    margin-top: 10px !important;
	    width: 25% !important;
		}
		.control {
	    float: left !important;
  		width: 50% !important;
		}
	}
}
.product.detailed {
	.title a {
		cursor: default;
	}
}
.price-table {
  float: left;
  margin-bottom: 24px;
  width: 100%;
	* {
		transition: none !important;
	}
	.thead {
		background-color: #f5f5f5;
		span {
			font-weight: 600;
			padding: 12px;
		}
	}
	.trow, .thead {
    width: 100%;
    display: table;
		span {
		  text-align: center;
		  display: table-cell;
		  width: 25%;
      padding-top: 12px;
		  & + span + span {
		  	width: 50%;
		  }
		}
	}
	.expand-table {
		background: none;
		border: 0;
		float: right;
		color: $primary;
		margin-top: 12px;
		@include font-size(14);
		font-weight: 400;
		padding: 0;
	}
}
.product.data.items > .item.content{
  margin-left: 0;
  float: left;
  width: 100%;
  margin-top: 12px;
}
.gallery-placeholder {
	cursor: zoom-in;
	/* 
	max-height:580px;
	*/
}
.product-buttons {
	width: 100%;
	float: left;
}

@media all and(max-width: $medium) {
	.product-info-main {
    box-shadow: none;
    position: static;
    float: left;
    width: 100%;
    .price-box {
    	margin-bottom: 12px;
    }
    .box-tocart {
	    margin-bottom: 0 !important;
	    display: block !important;
	    width: 380px;
	    margin-left: auto;
	    margin-right: auto;
	    fieldset {
	    	margin-top: 12px;
	    }
		}
	}
	.product.media .fotorama__stage__frame .fotorama__img {
		transform: none;
		    position: static;
	}
	.product.media {
    margin-top: 48px;
	}
	.product-info-main .price-box {
    float: left;
	}
	.product-add-form {
		float: left;
    width: 50%;
	}
	.price-table {
    float: right;
    margin-bottom: 24px;
    width: 50%;
	}
.product-options-wrapper {
	    .swatch-attribute .color {
		margin-top:10px;
	     }
}
	.product-options-wrapper .fieldset div.configurable {
    display: inline-block;
    width: 100%;
		.control {
	    float: left !important;
	    width: 65% !important;
		}
	}
}
@media all and(max-width: $xsmall) {
	.product-add-form {
    width: 100%;
	}
	.price-table {
    float: left;
    width: 100%;
	}
	.product-info-main {
		padding: 0;
		.box-tocart {
			width: 100%;
		}
		.product-buttons {
			a, button {
				width: 100%;
				margin-bottom: 12px;
			}
		}
	}
}
.accessories_div ul li.thumb {
    width: 20%;
    margin-right:20px;
}
.accessories_div ul li.details {
    width: 50%;
}
.accessories_div ul li.btns {
    float: left;
    width: 20%;
}
.accessories_div ul li p.sku {
    font-size: 12px;
}
.accessories_div ul li p.price {
    font-size: 15px;
}
.btns button.view-btn {
    font-size: 12px;
}
.btns button.add-btn {
    font-size: 12px;
}
.btns button {
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-buttons.bottom-buttons {
	margin-bottom: 30px;
}

.product-options-wrapper {
	.swatch-attribute {
		.swatch-option {
			border: 0;
			width: 40px;
			height: 40px;
		}
	}
}