.searchautocomplete__active {
  .head-search {
     position: static !important;
     width: 100%;
     float: right;
  }
}
$spinner-color-from: #D8D8D8;
$spinner-color-to: #D8D8D8;
.searchautocomplete__autocomplete {
  $header-bg: #efefef;
  $header-color: #575757;
  $hover-bg: #f8f8f8;

  display: none;
  border: 1px solid #C2C2C2;

  padding: 24px;
  position: absolute;
  top: 55px !important;
  right: 0 !important;
  left: auto !important;
  box-sizing: border-box;
  background: #fff;
  border-radius: 6px;
  min-height: 35px;
  z-index: 1000;
  &._active {
      display: block;
  }
  &:before {
    content: "";
    background-image: url("#{$imagePath}/search-arrow.png");
    height: 32px;
    background-repeat: no-repeat;
    width: 40px;
    position: absolute;
    top: -22px;
    right: 15px;
  }
  .searchautocomplete__spinner {
      display: none;
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -90px;
  }

  &._loading {
      .searchautocomplete__spinner {
          display: block;
      }
  }

  .empty-result {
      background: $header-bg;
      text-align: center;
      padding: 8px 10px;
      color: $header-color;
      font-size: 1.2rem;
      display: block;
  }

  .show-all-results {
      background: transparent;
      text-align: center;

      a {
          padding: 8px 10px;
          color: $header-color;
          font-size: 1.2rem;
          display: block;
      }
  }

  .index-title {
      background: transparent;
      padding: 8px 10px;
      text-align: right;
      font-size: 1.2rem;
      line-height: 1.2rem;
      color: $header-color;
      padding-left: 0;

      .total {
          font-weight: 600; //@font-weight__semibold;
      }
      h2 {
        position: relative;
        @include font-size(16);
        font-family: $font;
        letter-spacing: 0px;
        float: left;
        margin-bottom: 24px;
        width: 100%;
        text-align: left;
        text-transform: initial;
        &:after {
          content:"";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0.5em;
          border-top: 1px solid #eaeaea;
          z-index: -1;
        }
      }
  }
  .search-list-title {
    background: white;
    padding-right: 8px;
    float: left;   
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        cursor: pointer;
        float: left;
        width: 100%;
        float: left;
        margin-bottom: 24px;
        position: relative;
        // .lib-clearfix();

        &._active {
            background: $hover-bg;
        }

        .title {
            font-weight: $font-weight__light;
            color: $black;
            &:hover {
              color: $primary;
              text-decoration: none;
            }
        }
        &:hover .title{
           color: $primary;
          text-decoration: none !important;
        }
    }      
  }  
}
.searchautocomplete__index-recent {
    .index-title {
        background: none;
        position: absolute;
        right: 0;
        color: #999;
    }
}
.searchautocomplete__item-magento_catalog_product {
    img {
        float: left;
        height: 8rem;
        width: 6.4rem;
        margin-right: 1rem;
    }

    a.title {
        display: block;
        margin-bottom: 0.5rem;
       @include font-size(20);
       color: #555555;
    }

    .sku {
        font-size: 1.2rem;
        color: #999;
        line-height: 1.5rem;
        overflow: hidden;
        margin-bottom: 0.5rem;
    }

    .description {
        font-size: 1.2rem;
        color: #555555;
        height: 3rem;
        line-height: 1.5rem;
        overflow: hidden;
        margin-bottom: 0.5rem;
    }

    .price {
        display: block;
        float: right;
        font-weight: 300;
        color: $primary;
        float: left;
         @include font-size(20);
    }
    .btn-secondary {
      position: absolute;
      bottom: 0;
      right: 0;
      &:hover {
        text-decoration: none;
      }
    }
    .search-auto-left {
      width: 75%;
      float: left;
      .left {
        float: left;
        width: 20%;
      }
      .right {
        float: right;
        width: 80%;
        padding-left: 12px;
      }
    }
    .search-auto-right {
      width: 22%;
      float: right;
    }
    .product-reviews-summary {
        margin: 0;
        .reviews-actions {
            display: none;
        }
    }

    &._active {
        background: #fff !important;

        a.title {
            text-decoration: underline;
        }
    }
}

.searchautocomplete__item-magento_search_query {
    .num_results {
        float: right;
    }
}
.searchautocomplete__index-popular {
    .index-title {
        background: none;
        text-align: left;
        color: #999;
    }

    ul {
        li {
            float: left;
            padding: .5rem 0 0.5rem 1rem;

            a {
                font-size: 1.3rem;
            }

            &:hover {
                background: none;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: $primary;
                }
            }
        }
    }
}
.search-autocomplete {
  display: none !important;
}
.searchautocomplete__highlight {
    font-weight: $font-weight__semibold;
    color: $primary;
}
.searchautocomplete__spinner {
  position: relative;
  width: 186px;
  height: 20px;
  margin: auto;

  .spinner-item {
      position: absolute;
      top: 0;
      background-color: $spinner-color-from;
      width: 20px;
      height: 20px;
      animation-name: bounce_fountainG;
      -o-animation-name: bounce_fountainG;
      -ms-animation-name: bounce_fountainG;
      -webkit-animation-name: bounce_fountainG;
      -moz-animation-name: bounce_fountainG;
      animation-duration: 0.645s;
      -o-animation-duration: 0.645s;
      -ms-animation-duration: 0.645s;
      -webkit-animation-duration: 0.645s;
      -moz-animation-duration: 0.645s;
      animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-direction: normal;
      -o-animation-direction: normal;
      -ms-animation-direction: normal;
      -webkit-animation-direction: normal;
      -moz-animation-direction: normal;
      transform: scale(.3);
      -o-transform: scale(.3);
      -ms-transform: scale(.3);
      -webkit-transform: scale(.3);
      -moz-transform: scale(.3);
      border-radius: 15px;
      -o-border-radius: 15px;
      -ms-border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;

      &.spinner-item-1 {
          left: 0;
          animation-delay: 0.256s;
          -o-animation-delay: 0.256s;
          -ms-animation-delay: 0.256s;
          -webkit-animation-delay: 0.256s;
          -moz-animation-delay: 0.256s;
      }

      &.spinner-item-2 {
          left: 20px;
          animation-delay: 0.3225s;
          -o-animation-delay: 0.3225s;
          -ms-animation-delay: 0.3225s;
          -webkit-animation-delay: 0.3225s;
          -moz-animation-delay: 0.3225s;
      }

      &.spinner-item-3 {
          left: 40px;
          animation-delay: 0.389s;
          -o-animation-delay: 0.389s;
          -ms-animation-delay: 0.389s;
          -webkit-animation-delay: 0.389s;
          -moz-animation-delay: 0.389s;
      }

      &.spinner-item-4 {
          left: 60px;
          animation-delay: 0.4555s;
          -o-animation-delay: 0.4555s;
          -ms-animation-delay: 0.4555s;
          -webkit-animation-delay: 0.4555s;
          -moz-animation-delay: 0.4555s;
      }

      &.spinner-item-5 {
          left: 80px;
          animation-delay: 0.522s;
          -o-animation-delay: 0.522s;
          -ms-animation-delay: 0.522s;
          -webkit-animation-delay: 0.522s;
          -moz-animation-delay: 0.522s;
      }

      &.spinner-item-6 {
          left: 100px;
          animation-delay: 0.5885s;
          -o-animation-delay: 0.5885s;
          -ms-animation-delay: 0.5885s;
          -webkit-animation-delay: 0.5885s;
          -moz-animation-delay: 0.5885s;
      }

      &.spinner-item-7 {
          left: 120px;
          animation-delay: 0.645s;
          -o-animation-delay: 0.645s;
          -ms-animation-delay: 0.645s;
          -webkit-animation-delay: 0.645s;
          -moz-animation-delay: 0.645s;
      }

      &.spinner-item-8 {
          left: 140px;
          animation-delay: 0.7115s;
          -o-animation-delay: 0.7115s;
          -ms-animation-delay: 0.7115s;
          -webkit-animation-delay: 0.7115s;
          -moz-animation-delay: 0.7115s;
      }
  }
}
@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: $spinner-color-from;
    }

    100% {
        transform: scale(.3);
        background-color: $spinner-color-to;
    }
}

@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: $spinner-color-from;
    }

    100% {
        -o-transform: scale(.3);
        background-color: $spinner-color-to;
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: $spinner-color-from;
    }

    100% {
        -ms-transform: scale(.3);
        background-color: $spinner-color-to;
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: $spinner-color-from;
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: $spinner-color-to;
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: $spinner-color-from;
    }

    100% {
        -moz-transform: scale(.3);
        background-color: $spinner-color-to;
    }
}
@media all and (min-width: $medium) {
  .searchautocomplete__autocomplete {
    width: 800px !important;
  }
}
@media all and (max-width: $medium) {
  .searchautocomplete__autocomplete {
    left: auto !important;
    right: auto !important;
    top: 75px !important;
  }
  .searchautocomplete__active {
    .block-search .control {
      margin-left: 30px;
      width: 100%;
      float: right;
    } 
    .head-search {
      position: static !important;
      float: right;
      width: 100%;
    }
  }
}
@media all and (max-width: $xsmall) {
  .searchautocomplete__autocomplete {
    // max-width: 300px;
    .search-auto-left, .search-auto-right {
      width: 100% !important;
    }
    .btn-secondary {
      position: static;
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
      float: right !important;
    }
  }
}

