/* custom.css for Spares module */
.sparesLocator {
    width:400px;
    float:left;
}
.sparesLocator label {
    width:150px;
    text-align: right;
    margin-right:16px;
    clear:both;
    float:left;
    font-weight:bold;
    font-size:14px;
}
.sparesLocator input {
    float:left;
}
.sparesLocator p {
    height:25px;
}
.imageCanvas {
    text-align:center;
}
.imageCanvas div {
    float:left;
}
.canvasWrapper {
	width:600px;
	height:500px;
	position:relative;
}
