<?xml version="1.0"?>
<!--
 * BelVG LLC.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 *
 ********************************************************************
 * @category   BelVG
 * @package    BelVG_Tierpricesext
 * @copyright  Copyright (c) 2010 - 2016 BelVG LLC. (http://www.belvg.com)
 * @license    http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Price\Tier" type="BelVG\Tierpricesext\Block\Adminhtml\Rewrite\Catalog\Product\Edit\Tab\Price\Tier" />
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Attribute\Backend\Tierprice" type="BelVG\Tierpricesext\Model\Rewrite\Catalog\ResourceModel\Product\Attribute\Backend\Tierprice" />
    <preference for="Magento\Catalog\Model\Product\Attribute\Backend\Tierprice" type="BelVG\Tierpricesext\Model\Rewrite\Catalog\Product\Attribute\Backend\Tierprice" />
    <preference for="Magento\Catalog\Model\Product\Type\Price" type="BelVG\Tierpricesext\Model\Rewrite\Catalog\Product\Type\Price" />
    <preference for="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\AdvancedPricing" type="BelVG\Tierpricesext\Block\Adminhtml\Rewrite\Catalog\Ui\DataProvider\Product\Form\Modifier\AdvancedPricing" />
</config>