.amasty-hide-price-container {
	display:none !important;
}
.actions .primary .poa_wrapper {
	display:none;
}
// Enquiry Form specific
#contact-form {
	div.field.name {
		margin-bottom:5px;
	}
}
.cart-summary {
	.poa_wrapper {
		display:none;
	}
}