<!DOCTYPE html>
<html>
<head>
	<title>Footer</title>
</head>
<body>
<div>
<p><span itemprop="name">Continental Sports Limited</span>.<br> <span itemprop="address">Hill Top Road, Paddock, Huddersfield, West Yorkshire HD1 4SD</span>. <br><br> Telephone: <span itemprop="telephone">01484 542051</span><br> Fax: <span itemprop="faxNumber">01484 539148</span><br> Email: <a href="mailto:sales@contisports.co.uk"><span itemprop="email">sales@contisports.co.uk</span></a> <br><br> Registered in England &amp; Wales No: 00830200. VAT No: 516 3500 76 <br><br></p>
<nav>
<ul>
<li><a href="/privacy-policy-cookie-restriction-mode">Cookies &amp; Privacy</a></li>
<li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
</ul>
</nav></div>
</body>
</html>