<?xml version="1.0"?>
<!--
/**
 * @author Attercopia
 * @copyright Copyright (c) 2017 Attercopia
 * @package Continental_Spares
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <continental_spares>
            <adminhtml>
				<events>
					<core_layout_block_create_after>
						<observers>
							<continental_spares_ordergrid_add_columns>
								<class>Continental_Spares_Model_Observer</class>
								<method>addColumnsToGrid</method>
							</continental_spares_ordergrid_add_columns>
						</observers>
					</core_layout_block_create_after>
				</events>
			</adminhtml>
        </continental_spares>
    </default>
</config>
