<?xml version="1.0"?>
<!--
/**
 * Attercopia Continental Spares Magento JS component
 *
 * @category    Continental
 * @package     Continental Spares
 * @author      Attercopia
 * @copyright   Attercopia
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
<payment>
<poapayment>
<active>1</active>
<title>POA payment</title>
<order_status>pending_payment</order_status>
<instructions>Instruction.</instructions>
<payment_action>true</payment_action>
<model>Continental\Spares\Model\Poa</model>
<order_status>pending_payment</order_status>
<group>offline</group>
</poapayment>
</payment>
</default>
</config>