<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="spares_listing_data_source" xsi:type="string">Continental\Spares\Model\ResourceModel\Spares\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Continental\Spares\Model\ResourceModel\Spares\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">continental_spares</argument>
            <argument name="eventPrefix" xsi:type="string">spares_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">spares_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Continental\Spares\Model\ResourceModel\Spares</argument>
        </arguments>
    </type>
    <type name="Continental\Spares\Controller\Adminhtml\Spares\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">SparesImageUpload</argument>
        </arguments>
    </type>
    <virtualType name="SparesImageUpload" type="Continental\Spares\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">spares</argument>
            <argument name="basePath" xsi:type="string">spares</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SparesGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SparesGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Continental\Spares\Model\ResourceModel\Spares\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SparesGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="spares-tab-with-content" xsi:type="array">
                    <item name="class" xsi:type="string">Continental\Spares\Ui\DataProvider\Product\Form\Modifier\SparesTab</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
