<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magevolve Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Wysiwyg\Config">
        <arguments>
            <argument name="windowSize" xsi:type="array">
                <item name="height" xsi:type="number">600</item>
                <item name="width" xsi:type="number">1000</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="resizeParameters" xsi:type="array">
                <item name="height" xsi:type="number">75</item>
                <item name="width" xsi:type="number">100</item>
            </argument>
            <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="jpg" xsi:type="number">1</item>
                    <item name="jpeg" xsi:type="number">1</item>
                    <item name="png" xsi:type="number">1</item>
                    <item name="gif" xsi:type="number">1</item>
                </item>
                <item name="image_allowed" xsi:type="array">
                    <item name="jpg" xsi:type="number">1</item>
                    <item name="jpeg" xsi:type="number">1</item>
                    <item name="png" xsi:type="number">1</item>
                    <item name="gif" xsi:type="number">1</item>
                </item>
                <item name="media_allowed" xsi:type="array">
                    <item name="flv" xsi:type="number">1</item>
                    <item name="swf" xsi:type="number">1</item>
                    <item name="avi" xsi:type="number">1</item>
                    <item name="mov" xsi:type="number">1</item>
                    <item name="rm" xsi:type="number">1</item>
                    <item name="wmv" xsi:type="number">1</item>
                </item>
            </argument>
            <argument name="dirs" xsi:type="array">
                <item name="exclude" xsi:type="string"/>
                <item name="include" xsi:type="string"/>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="econtacts_econtacts_listing_data_source" xsi:type="string">Me\Econtacts\Model\ResourceModel\Econtacts\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Me\Econtacts\Model\ResourceModel\Econtacts\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">me_econtacts</argument>
            <argument name="eventPrefix" xsi:type="string">me_econtacts_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">econtacts_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Me\Econtacts\Model\ResourceModel\Econtacts</argument>
        </arguments>
    </type>
    <virtualType name="EcontactsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="EcontactsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Me\Econtacts\Model\ResourceModel\Econtacts\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">EcontactsGirdFilterPool</argument>
        </arguments>
    </virtualType>
</config>
