<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Continental_Documents::Documents" sortOrder="10" title="Documents">
					<resource id="Continental_Documents::Documents_save" sortOrder="10" title="Save Documents"/>
					<resource id="Continental_Documents::Documents_delete" sortOrder="20" title="Delete Documents"/>
					<resource id="Continental_Documents::Documents_update" sortOrder="30" title="Update Documents"/>
					<resource id="Continental_Documents::Documents_view" sortOrder="40" title="View Documents"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
