<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Continental\Documents\Api\DocumentsRepositoryInterface" type="Continental\Documents\Model\DocumentsRepository"/>
	<preference for="Continental\Documents\Api\Data\DocumentsInterface" type="Continental\Documents\Model\Documents"/>
	<preference for="Continental\Documents\Api\Data\DocumentsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Continental\Documents\Model\ResourceModel\Documents\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">continental_documents_documents</argument>
			<argument name="resourceModel" xsi:type="string">Continental\Documents\Model\ResourceModel\Documents\Collection</argument>
		</arguments>
	</virtualType>
    <!-- adding image upload -->
    <virtualType name="BannerImageUpload" type="FME\Banners\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">banners</argument>
            <argument name="basePath" xsi:type="string">banners</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="pdf" xsi:type="string">pdf</item>
                <item name="doc" xsi:type="string">doc</item>
                <item name="docx" xsi:type="string">docx</item>
                <item name="xls" xsi:type="string">xls</item>
                <item name="xlsx" xsi:type="string">xlsx</item>

            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="continental_documents_documents_grid_data_source" xsi:type="string">Continental\Documents\Model\ResourceModel\Documents\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>


