<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">



    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="documents_listing_data_source" xsi:type="string">Continental\Documents\Model\ResourceModel\Documents\Grid\Collection</item>                
            </argument>
        </arguments>
    </type>

    <type name="Continental\Documents\Model\ResourceModel\Documents\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">continental_documents</argument>
            <argument name="eventPrefix" xsi:type="string">documents_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">documents_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Continental\Documents\Model\ResourceModel\Documents</argument>
        </arguments>
    </type>


 <type name="Continental\Documents\Controller\Adminhtml\Documents\Image\Upload">
    <arguments>
        <argument name="imageUploader" xsi:type="object">DocumentsFileUpload</argument>
    </arguments>
    </type>


    <virtualType name="DocumentsFileUpload" type="Continental\Documents\Model\DocumentUploader">
    <arguments>
        <argument name="baseTmpPath" xsi:type="string">documents</argument>
        <argument name="basePath" xsi:type="string">documents</argument>
        <argument name="allowedExtensions" xsi:type="array">
            <item name="jpg" xsi:type="string">jpg</item>
            <item name="jpeg" xsi:type="string">jpeg</item>
            <item name="gif" xsi:type="string">gif</item>
            <item name="png" xsi:type="string">png</item>
        </argument>
    </arguments>
</virtualType>  


    
    <virtualType name="DocumentsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="DocumentsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Continental\Documents\Model\ResourceModel\Documents\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DocumentsGridFilterPool</argument>
        </arguments>
    </virtualType>

    
</config>