// Global Styling
html {
	font-size: 62.5%;
}
div, a, .minisearch label:before {
	transition: 0.3s all ease-in-out;	
}
* {
	box-sizing: border-box;
}
body {
	color: $fontDark;
	@include font-size(14);
	font-family: $font;
}
a {
	color: $primary;
}
.redBg {
	background: $primary;
	&:hover {
		background: transparent;
	}
}
.greyBg {
	background: $secondary;
	&:hover {
		background: transparent;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-family: $hfont, $font, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h1.page-title {
	@include font-size(20);
	font-family: $font;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0;
}
.counter-number {
	font-family: $font;
	font-size: 12px;
}
.minicart-wrapper .action.showcart .counter.qty {
	background: $primary !important;
	position: absolute !important;
  margin-left: -9px !important;
  margin-top: -6px !important;
  border-radius: 50px !important;
}
.minicart-wrapper .action.showcart .counter.qty {
  height: 19px !important;
  line-height: 19px !important;
}
.page-layout-2columns-right {

	.column.main {
		width: 80%;
	}
	.sidebar-additional {
		width: 20%;
	}
	&.cms-home {
		.columns {
			// display: table;

			> div {
		    display: table-cell;
			  vertical-align: top;
			  float: none;
			  height: 100%;
			}
		}
		.sidebar-additional {
			padding-left: 0;
		}
	}
}

.toolbar-products .pages {
	float: left!important;
	margin-top: 6px!important;
	margin-left: 40px!important;
	display: inline-block!important;
}

.catalogsearch-result-index {
	.column.main {
		width: 100%!important;
	}
}

.search-results-box {
	width: 60%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	label {
		display: inline-block;
		font-size: 20px;
		margin-right: 10px;
	}

	.control {
		display: inline-block;
		width: 80%;
	}

	button {
		position: absolute;
		background: 0;
		border: 0;

		span {
			border: 0;
			clip: rect(0, 0, 0, 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}

	input {
		padding-left: 40px;
		border: 1px solid #e4e4e4;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}

	button:before {
		-webkit-font-smoothing: antialiased;
		font-size: 22px;
		line-height: 22px;
		color: #8f8f8f;
		content: "î˜•";
		font-family: "icons-blank-theme";
		margin: 0;
		display: inline-block;
		font-weight: normal;
		overflow: hidden;
		speak: none;
		text-align: center;
		vertical-align: top;
	}
}